<nav class="navbar">
    <div class="brand">
        <h2>D<span>G</span></h2>
    </div>
    <ul class="menu">
        <li><a class="active" href="/">Inicio</a></li>
        <li><a href="/proyecto1">Proyecto 1</a></li>
        <li><a href="/proyecto2">Proyecto 2</a></li>
        <li><a href="/proyecto3">Proyecto 3</a></li>
        <li><a href="/proyecto4">Proyecto 4</a></li>
    </ul>
</nav>
