<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />

    <!-- Animate CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>Dallana García | Portafolio</title>
</head>

<body>
    <div class="wrapper">

        {{>header}}

        <main class="hero">
            <div class="bio animate__animated animate__shakeX">
                <h2 class="bio-title">
                    <h1>¡Hola! Soy <span>Dallana </span> García</h1>
                </h2>
                <p class="bio-text">
                    Soy estudiante de la Universidad Mariano Gálvez de Guatemala, de la facultad de ingeniería en
                    Sistemas.
                    Actualmente curso el 8vo. semestre de la carrera.
                </p>
            </div>
            <img src="./Images/fotos.jpeg" alt="Dallana García picture">
        </main>
    </div>

    <div class="about" id="about">
        <img src="./Images/Unidad.jpg">
        <div class="about-info">
            <h2>Sobre Mí</h2>
            <div class="divider"></div>
            <p>
                Me considero una persona responsable, creativa, confiable, con una facilidad de adaptación, con
                iniciativa en la resolución de problemas y centrada en la obtención de objetivos orientados en generar
                resultados, también me considero una persona con capacidad de liderar, adaptarse al trabajo en equipo,
                aprender de los diferentes puntos de vista y trabajar bajo presión.
            </p>
            <p>
                Me gustaría poner en práctica todos los conocimientos adquiridos durante mi vida académica y formar
                parte de un equipo de trabajo que permita desarrollarme personal y profesionalmente.
            </p>
            <p>
                <b> - Nombre: </b> Sherly Dallana Lucía García Yac
                <br>
                <br>
                <b> - Nivel Académico: </b> 8vo. semestre - Facultad de Ingeniería
                <br>
                <br>
                <b> - Dirección: </b> Santa Lucía Utatlán, Sololá.
                <br>
                <br>
                <b> - Email: </b> sgarciay2@gmail.com
            </p>
        </div>
    </div>

    <div class="portafolio" id="projects">
        <div class="portafolio-heading">
            <h2>Mis habilidades</h2>
            <div class="divider"></div>
            <br>
            <ul>
                <li><b> . NET: </b> 
                <div class="divider"></div>
                es una plataforma para desarrolladores formada por lenguajes de programación y bibliotecas para crear muchos tipos 
                diferentes de aplicaciones.
                Hay varias implementaciones de .NET. Cada implementación permite que el código .NET se ejecute en distintos lugares—Linux, macOS, Windows, 
                iOS, Android, y muchos más. 
                <br>
                <br>
                <h5>Conocimientos: 60% </h5>
                </li>
            </ul>
            <br>
            <br>
            <ul>
                <li>
                    <b>C#: </b> 
                    <div class="divider"></div>
                    es un lenguaje de programación multiparadigma desarrollado y estandarizado por la empresa Microsoft como parte de su 
                plataforma .NET, que después fue aprobado como un estándar por la ECMA e ISO. C# es uno de los lenguajes de programación diseñados para la 
                infraestructura de lenguaje común.
                <br>
                <br>
                <h5>Conocimientos: 40% </h5>
                 </li>
            </ul>
            <br>
            <br>
            <ul>
                <li>
                    <b>SQL server: </b>
                    <div class="divider"></div>
                    es un sistema de gestión de base de datos relacional, desarrollado por la empresa Microsoft. El lenguaje de desarrollo 
                utilizado es Transact-SQL, una implementación del estándar ANSI del lenguaje SQL, utilizado para manipular y recuperar datos, crear tablas y 
                definir relaciones entre ellas.
                <br>
                <br>
                <h5>Conocimientos: 70% </h5>
                </li>
            </ul>
            <br>
            <br>
            <ul>
                <li>
                    <b>Java Script: </b>
                    <div class="divider"></div>
                    JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a 
                objetos, ​ basado en prototipos, imperativo, débilmente tipado y dinámico.
                <br>
                <br>
                <h5>Conocimientos: 30% </h5>
                </li>
            </ul>
            <br>
            <br>
            <ul>
                <li>
                    <b>Node Js: </b>
                    <div class="divider"></div>
                     es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje 
                de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.
                <br>
                <br>
                <h5>Conocimientos: 40% </h5>
                </li>
            </ul>
            <br>
            <br>
            <ul>
                <li>
                    <b>HTMl: </b>
                    <div class="divider"></div>
                    HTML, siglas en inglés de HyperText Markup Language, hace referencia al lenguaje de marcado para la elaboración de páginas 
                web.
                <br>
                <br>
                <h5>Conocimientos: 60% </h5>
                </li>
            </ul>
            <br>
            <br>
            <ul>
                <li>
                    <b>Java Netbeans:</b>
                    <div class="divider"></div>
                    es un entorno de desarrollo integrado libre, hecho principalmente para el lenguaje de programación Java. Existe además
                 un número importante de módulos para extenderlo. NetBeans IDE​ es un producto libre y gratuito sin restricciones de uso.
                 <br>
                <br>
                <h5>Conocimientos: 30% </h5>
                 </li>
            </ul>
            <br>
            <br>
            <ul>
                <li>
                    <b>C++:</b>
                    <div class="divider"></div>
                     es un lenguaje de programación diseñado en 1979 por Bjarne Stroustrup. La intención de su creación fue extender al lenguaje 
                de programación C y añadir mecanismos que permiten la manipulación de objetos. En ese sentido, desde el punto de vista de los lenguajes 
                orientados a objetos, C++ es un lenguaje híbrido.
                <br>
                <br>
                <h5>Conocimientos: 40% </h5>
                </li>
            </ul>
        </div>
    </div>

    <!-- Social accounts - Fixed to the right -->
    <div class="socials">
        <a href="#" target="_blank"><img src="icons/icons8-twitter-circled.gif" alt="Twitter" loading="lazy"
                class="socicon" /></a>
        <a href="#" target="_blank"><img src="icons/icons8-instagram.gif" alt="Instagram" loading="lazy"
                class="socicon" /></a>
        <a href="#" target="_blank"><img src="icons/icons8-github.gif" alt="Github" class="socicon" /></a>
    </div>

    {{>footer}}

    <script src="js/app.js"></script>

    <!-- Ion icons scripts -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>